.main-header
  margin-bottom: 30px
  padding: 15px 0 17px

  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05)
  &__wrap 
    display: flex
    justify-content: space-between
    align-items: center

.nav
  &__list
    display: flex
    justify-content: space-between
  &__item
    margin-right: 17px
  &__link
    color: $text-title

    transition: color 0.2s linear
    &:hover
      color: $color-btn

.login
  &__singin
    margin-right: 14px
    border-color: $color-btn--border

    color: $color-btn--border

    background-color: transparent
    &:hover
      border-color: transparent

      color: $color-white


