@font-face {
  font-family: "Open Sans";
  src: local("Open Sans"), local("Open-Sans"), url("../assets/fonts/opensans-regular.woff2") format("woff2"), url("../assets/fonts/opensans-regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  @font-face {
    font-family: "Open Sans";
    src: local("Open Sans"), local("Open-Sans"), url("../assets/fonts/opensans-semibold.woff2") format("woff2"), url("../assets/fonts/opensans-semibold.woff") format("woff");
    font-style: normal;
    font-weight: 600;
  }
  @font-face {
    font-family: "Open Sans";
    src: local("Open Sans"), local("Open-Sans"), url("../assets/fonts/opensans-bold.woff2") format("woff2"), url("../assets/fonts/opensans-bold.woff") format("woff");
    font-style: normal;
    font-weight: 700;
  }
  @font-face {
    font-family: "Poppins";
    src: local("Poppins"), url("../assets/fonts/poppins-regular.woff2") format("woff2"), url("../assets/fonts/poppins-regular.woff") format("woff");
    font-style: normal;
    font-weight: 400;
  }
  @font-face {
    font-family: "Poppins";
    src: local("Poppins"), url("../assets/fonts/poppins-semibold.woff2") format("woff2"), url("../assets/fonts/poppins-semibold.woff") format("woff");
    font-style: normal;
    font-weight: 600;
  }
  @font-face {
    font-family: "Poppins";
    src: local("Poppins"), url("../assets/fonts/poppins-bold.woff2") format("woff2"), url("../assets/fonts/poppins-bold.woff") format("woff");
    font-style: normal;
    font-weight: 700;
  }
}
/*! normalize.css v6.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
 * * ========================================================================== */
/**
 * * 1. Correct the line height in all browsers.
 * * 2. Prevent adjustments of font size after orientation changes in
 * *    IE on Windows Phone and in iOS. */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
 * * ========================================================================== */
/**
 * * Add the correct display in IE 9-. */
article, aside, footer, header, nav, section {
  display: block;
}

/**
 * * Correct the font size and margin on `h1` elements within `section` and
 * * `article` contexts in Chrome, Firefox, and Safari. */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
 * * ========================================================================== */
/**
 * * Add the correct display in IE 9-.
 * * 1. Add the correct display in IE. */
figcaption, figure, main {
  /* 1 */
  display: block;
}

/**
 * * Add the correct margin in IE 8. */
figure {
  margin: 1em 40px;
}

/**
 * * 1. Add the correct box sizing in Firefox.
 * * 2. Show the overflow in Edge and IE. */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * * 1. Correct the inheritance and scaling of font size in all browsers.
 * * 2. Correct the odd `em` font sizing in all browsers. */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
 * * ========================================================================== */
/**
 * * 1. Remove the gray background on active links in IE 10.
 * * 2. Remove gaps in links underline in iOS 8+ and Safari 8+. */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/**
 * * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari. */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * * Prevent the duplicate application of `bolder` by the next rule in Safari 6. */
b, strong {
  font-weight: inherit;
}

/**
 * * Add the correct font weight in Chrome, Edge, and Safari. */
b, strong {
  font-weight: bolder;
}

/**
 * * 1. Correct the inheritance and scaling of font size in all browsers.
 * * 2. Correct the odd `em` font sizing in all browsers. */
code, kbd, samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * * Add the correct font style in Android 4.3-. */
dfn {
  font-style: italic;
}

/**
 * * Add the correct background and color in IE 9-. */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * * Add the correct font size in all browsers. */
small {
  font-size: 80%;
}

/**
 * * Prevent `sub` and `sup` elements from affecting the line height in
 * * all browsers. */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
 * * ========================================================================== */
/**
 * * Add the correct display in IE 9-. */
audio, video {
  display: inline-block;
}

/**
 * * Add the correct display in iOS 4-7. */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * * Remove the border on images inside links in IE 10-. */
img {
  border-style: none;
}

/**
 * * Hide the overflow in IE. */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
 * * ========================================================================== */
/**
 * * Remove the margin in Firefox and Safari. */
button, input, optgroup, select, textarea {
  margin: 0;
}

/**
 * * Show the overflow in IE.
 * * 1. Show the overflow in Edge. */
button, input {
  /* 1 */
  overflow: visible;
}

/**
 * * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * * 1. Remove the inheritance of text transform in Firefox. */
button, select {
  /* 1 */
  text-transform: none;
}

/**
 * * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 * *    controls in Android 4.
 * * 2. Correct the inability to style clickable types in iOS and Safari. */
button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
  /* 2 */
}

/**
 * * Remove the inner border and padding in Firefox. */
button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * * Restore the focus styles unset by the previous rule. */
button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * * 1. Correct the text wrapping in Edge and IE.
 * * 2. Correct the color inheritance from `fieldset` elements in IE.
 * * 3. Remove the padding so developers are not caught out when they zero out
 * *    `fieldset` elements in all browsers. */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * * 1. Add the correct display in IE 9-.
 * * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera. */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * * Remove the default vertical scrollbar in IE. */
textarea {
  overflow: auto;
}

/**
 * * 1. Add the correct box sizing in IE 10-.
 * * 2. Remove the padding in IE 10-. */
[type=checkbox], [type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * * Correct the cursor style of increment and decrement buttons in Chrome. */
[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * * 1. Correct the odd appearance in Chrome and Safari.
 * * 2. Correct the outline style in Safari. */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}
[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * * Remove the inner padding and cancel buttons in Chrome and Safari on macOS. */
/**
 * * 1. Correct the inability to style clickable types in iOS and Safari.
 * * 2. Change font properties to `inherit` in Safari. */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
 * * ========================================================================== */
/* * Add the correct display in IE 9-.
 * * 1. Add the correct display in Edge, IE, and Firefox. */
details, menu {
  display: block;
}

/* * Add the correct display in all browsers. */
summary {
  display: list-item;
}

/* Scripting
 * * ========================================================================== */
/**
 * * Add the correct display in IE 9-. */
canvas {
  display: inline-block;
}

/**
 * * Add the correct display in IE. */
template, [hidden] {
  display: none;
}

/* Hidden
 * * ========================================================================== */
/**
 * * Add the correct display in IE 10-. */
html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}
*::before, *::after {
  box-sizing: inherit;
}

h1, h2, h3, p {
  margin-top: 0;
  margin-bottom: 0;
}

.wrapper {
  min-width: 320px;
  overflow-x: hidden;
}

.container {
  width: 100%;
  max-width: 1278px;
  margin: 0 auto;
  padding: 0 40px;
}

:-moz-input:focus, :-ms-input:focus, ::-webkit-input:focus, input:focus, :focus {
  outline: none;
}

body {
  margin: 0;
  overflow-x: hidden;
  color: #544837;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  background-color: #FFFFFF;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn {
  padding: 11px 28px 13px;
  border: 1px solid transparent;
  border-radius: 4px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.4;
  color: #FFFFFF;
  background-color: #FF9900;
  transition: all 0.2s linear;
}
.btn:hover {
  background-color: #FF7549;
}

.main-header {
  margin-bottom: 30px;
  padding: 15px 0 17px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
}
.main-header__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__list {
  display: flex;
  justify-content: space-between;
}
.nav__item {
  margin-right: 17px;
}
.nav__link {
  color: #2F281E;
  transition: color 0.2s linear;
}
.nav__link:hover {
  color: #FF9900;
}

.login__singin {
  margin-right: 14px;
  border-color: #BCD0E5;
  color: #BCD0E5;
  background-color: transparent;
}
.login__singin:hover {
  border-color: transparent;
  color: #FFFFFF;
}

.intro {
  margin-bottom: 111px;
}
.intro__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.intro__left {
  max-width: 487px;
  padding-bottom: 15px;
}
.intro__title {
  margin-bottom: 30px;
  font-family: "Poppins", "Arial", sans-serif;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.2;
  letter-spacing: -0.4px;
  color: #2F281E;
}
.intro__text {
  margin-bottom: 45px;
  font-family: "Poppins", "Arial", sans-serif;
  font-size: 18px;
}
.intro__btn-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 389px;
}
.intro__btn-wrap .intro__item:last-child {
  padding-left: 30px;
}
.intro__btn {
  padding: 15px 40px 16px;
  color: #FFFFFF;
  background-color: #FF9900;
  transition: background-color 0.2s linear;
}
.intro__btn:hover {
  background-color: #FF7549;
}
.intro__video {
  position: relative;
  font-weight: 600;
  font-size: 16px;
  color: #FF9900;
  text-decoration: underline;
  transition: color 0.2s linear;
}
.intro__video:hover {
  color: #FF7549;
}
.intro__video:hover::before {
  border-color: transparent transparent transparent #FF7549;
}
.intro__video::before {
  content: "";
  position: absolute;
  left: -30px;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 9px 0 9px 20px;
  border-color: transparent transparent transparent #FF9900;
  transition: border-color 0.2s linear;
}
.intro__right {
  background-image: url("../assets/img/intro/1.png");
  background-repeat: norepeat;
  background-position: 50%;
  width: 643px;
  height: 495px;
}

.tools {
  padding-bottom: 90px;
  background-image: url("../assets/img/tools/bg.svg");
  background-repeat: no-repeat;
  background-position: 50% 100%;
}
.tools__title {
  margin: 0 auto 70px;
  max-width: 462px;
  font-weight: 900;
  font-size: 34px;
  line-height: 1.3;
  color: #2F281E;
  text-align: center;
}
.tools__wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.tools__item {
  position: relative;
  max-width: 262px;
}
.tools__img {
  width: 50px;
  height: 50px;
  margin-bottom: 30px;
  fill: #FFFFFF;
}
.tools__promo {
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 22px;
  line-height: 1.3;
  color: #2F281E;
}
.tools__text {
  font-size: 16px;
  line-height: 1.6;
}
.tools__btn {
  display: block;
  margin: 0 auto;
}

#first #bg {
  fill: #7752BE;
  width: 50px;
  height: 50px;
  rx: 19;
}

#design #bg {
  fill: #FAB005;
  width: 50px;
  height: 50px;
  rx: 19;
}

#prefer #bg {
  fill: #F03E3D;
  width: 50px;
  height: 50px;
  rx: 19;
}

#five #bg {
  fill: #4DADF7;
  width: 50px;
  height: 50px;
  rx: 19;
}

.strategies {
  margin-bottom: 96px;
}
.strategies__title {
  margin-bottom: 14px;
  font-weight: 700;
  font-size: 34px;
  line-height: 1.3;
}
.strategies__text {
  margin-bottom: 24px;
  font-size: 16px;
  line-height: 1.6;
}
.strategies__wrap {
  display: grid;
  grid-template-columns: repeat(auto-fit, 376px);
  column-gap: 34px;
  row-gap: 30px;
}
.strategies__item {
  position: relative;
  padding: 224px 35px 83px;
  border-radius: 8px;
  background-repeat: no-repeat;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
}
.strategies__item--positive {
  background-image: url("../assets/img/strategies/1.png");
}
.strategies__item--success {
  background-image: url("../assets/img/strategies/2.png");
}
.strategies__item--business {
  background-image: url("../assets/img/strategies/3.png");
}
.strategies__item--funny {
  grid-column: 1/3;
  text-align: left;
  background-image: url("../assets/img/strategies/4.png");
}
.strategies__item--increas {
  background-image: url("../assets/img/strategies/5.png");
}
.strategies__promo {
  margin-bottom: 20px;
  max-width: 310px;
  font-weight: 700;
}
.strategies__type-wrap {
  position: absolute;
  left: 35px;
  bottom: 26px;
  display: flex;
  justify-content: flex-start;
}
.strategies__type {
  margin: 7px;
  padding: 0 14px;
  border-radius: 90px;
  background-color: #D7D7D7;
  font-size: 13px;
  line-height: 2.1;
}

.filter {
  display: flex;
  justify-content: flex-start;
}
.filter__item {
  margin: 0 7px 31px 0;
  padding: 0 14px;
  border-radius: 90px;
  border: 1px solid #D7D7D7;
  font-size: 13px;
  line-height: 2.1;
  transition: all 0.2s linear;
  cursor: pointer;
}
.filter__item:hover {
  border-color: #FF9900;
  color: #FFFFFF;
  background-color: #FF9900;
}
.filter__item--active {
  border-color: #FF9900;
  color: #FFFFFF;
  background-color: #FF9900;
  cursor: default;
}

.about__title {
  margin-bottom: 14px;
  font-weight: 700;
  font-size: 34px;
  line-height: 1.3;
  color: #2F281E;
}
.about__text {
  margin-bottom: 45px;
  font-size: 16px;
  line-height: 1.6;
}

.team {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.team__item {
  position: relative;
  width: 100%;
  max-width: 345px;
  min-width: 300px;
  padding: 35px;
  margin: 0 40px 100px 0;
  padding-right: 80px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}
.team__item::after {
  content: "";
  position: absolute;
  width: 98px;
  height: 98px;
  border-radius: 50%;
  top: 50%;
  right: -32px;
  transform: translateY(-50%);
  background-repeat: no-repeat;
  background-position: 50% 26%;
}
.team__item--first::after {
  background-image: url("../assets/img/about/1.png");
}
.team__item--second::after {
  background-image: url("../assets/img/about/2.png");
}
.team__item--third::after {
  background-image: url("../assets/img/about/3.png");
}
.team__name {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.6;
}
.team__position {
  line-height: 1.8;
}
.team__mail {
  line-height: 1.8;
  color: #1943EF;
}

.feedback {
  padding: 62px 0 82px;
  background-color: #FFEEE1;
}
.feedback__wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact {
  margin-right: 50px;
  margin-bottom: 20px;
  max-width: 528px;
  min-width: 300px;
}
.contact__title {
  margin-bottom: 17px;
  font-size: 34px;
  font-weight: 700;
  line-height: 1.3;
  color: #2F281E;
}
.contact__text {
  margin-bottom: 33px;
  font-size: 16px;
  line-height: 1.6;
}
.contact__item {
  position: relative;
  margin-bottom: 10px;
  padding-left: 31px;
  font-size: 25px;
  line-height: 1.1;
}
.contact__item:last-child {
  margin-bottom: 0;
}
.contact__item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  transform: translateY(-50%);
  background-color: #FFFFFF;
  background-image: url("../assets/img/contact/tel.png");
  background-repeat: no-repeat;
  background-position: 50%;
}
.contact__item:last-child::before {
  background-image: url("../assets/img/contact/mail.png");
}
.contact__link {
  color: #544837;
}

.form {
  max-width: 577px;
  min-width: 300px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.form__field {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
}
.form__field--name, .form__field--mail {
  max-width: 280px;
}
.form__field--detail {
  resize: none;
}
.form__field::placeholder {
  font-size: 16px;
  line-height: 1;
  color: #C6C6C6;
}
.form__btn {
  padding-left: 37px;
  padding-right: 37px;
}

/*# sourceMappingURL=style.css.map */
